<footer class="w3-container w3-blue">
  <div class="w3-half">
    <h1>Footer de la Pagina</h1>
    <p>New comemnt</p>
  </div>
  <div class="w3-half"> 
    <br><br><br>
    <ul>
        <li>Marco</li>
        <li>Daniel</li>
        <li>Alejandro</li>
        <li>Victoria</li>
    </ul>
  </div>
</footer>